// 4 Column Grid Layout
.grid-layout {
  display: grid;
  grid-template-columns:
    4px repeat(4, calc((100% - 16px * 2 - 12px * 3) / 4)) 4px;
  column-gap: 12px;
}

// 8 Column Grid Layout
@media screen and (min-width: 768px) {
  .grid-layout {
    grid-template-columns:
      64px repeat(8, calc((100% - 80px * 2 - 16px * 7) / 8)) 64px;
    column-gap: 16px;
  }
}

// 12 Column Grid Layout
@media screen and (min-width: 1440px) {
  .grid-layout {
    grid-template-columns:
      1fr repeat(12, calc((1110px - 32px * 11) / 12)) 1fr;
    column-gap: 32px;
  }
}
